.header
    .container
        svg.header__logo: use(xlink:href='icons/svgstore.svg#icon-logo')
        svg.header__logo-circle: use(xlink:href='icons/svgstore.svg#icon-circle')
        ul
            li Popular
            li Upcoming
            li Genres
        button.open-search(open-overlay='search')
            svg: use(xlink:href='icons/svgstore.svg#icon-search')

.header-background
