doctype
html
    head
        title Cinexplore

        meta(charset='UTF-8')

        link(rel='icon', type='image/png', href='images/icon.png')
        link(rel='stylesheet', href='stylesheets/desktop.css')
        link(href='http://fonts.googleapis.com/css?family=Roboto:100,400', rel='stylesheet', type='text/css')

        script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.3.9/angular.min.js')
        script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.3.9/angular-animate.min.js')
        script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.3.9/angular-route.min.js')

        script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.15.1/TimelineMax.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.15.1/TweenLite.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.15.1/plugins/CSSPlugin.min.js')

        script(src='scripts/vendor.js')
        script(src='templates/desktop.js')
        script(src='scripts/desktop.js')

    body(broadcast-on-scroll-end='movie-list-fetch-more')
        ng-view
        //- main-loading.main-loading.fade(ng-show='show')
        //-     div(ng-cloak)
        //-         include ../../icons/logo-hollow.svg
        //-         h1 Cinexplore
        include header
        .container.container--movie-list
            movie-list.movie-list
        overlay.overlay(overlay-name='search')
            .search
                input(type='search', placeholder='Start typing')

        movie-details.detail-view.expand-movie-animation(if-view='detail.movie', animation-sequence)
        person-details.detail-view.fade(if-view='detail.person')
