doctype
html
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
        link(rel='stylesheet', href='stylesheets/style.css')
        script(src='cordova.js')
        script(src='scripts/idangerous.swiper.min.js')
        script(src='scripts/snap.min.js')
        script(src='scripts/angular.min.js')
        script(src='scripts/app.js')
        title Cinexplore
    body(back-button, offline, ng-controller="NavigationCtrl")
        menu.menu
        div(snap)
            include templates/header
            main
                include templates/offline
                movie-list.movie-list(ng-hide='offline', ng-if="navigation.view == 'list'",
                            ml-category="{{navigation.category}}",
                            ml-genre="{{navigation.genre}}",
                            ml-genre-name="{{navigation.genreName}}")
                movie-details(ng-hide='offline', ng-if="navigation.view == 'movie'", movie-id="{{navigation.movieId}}")
                person-details(ng-hide='offline', ng-if="navigation.view == 'person'", person-id="{{navigation.personId}}")
            include templates/search