doctype
html
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
        meta(name='theme-color', content='#FFC026')
        link(rel='stylesheet', href='stylesheets/style.css')
        script(src='cordova.js')
        script(src='scripts/idangerous.swiper.min.js')
        script(src='scripts/snap.min.js')
        script(src='scripts/angular.min.js')
        script(src='scripts/angular-animate.min.js')
        script(src='scripts/app.js')
        title Cinexplore
    body(back-button, offline)
        menu.menu
        div(snap, ng-cloak)
            include templates/header
            main
                include templates/offline
                movie-list.movie-list.fade(ng-hide='offline', if-view='list',
                            ml-category="{{viewData.category}}",
                            ml-genre="{{viewData.genre.id}}",
                            ml-genre-name="{{viewData.genre.name}}")
                include templates/about
                include templates/search
            movie-details.detail-view.fade(ng-hide='offline', if-view='movie', movie-id="{{viewData.id}}", movie-basic-data='{{viewData}}', dominant-color dc-image-url='{{ movie.backdrop_path | imagePath:"780" }}', dc-var='dominantColor')
            person-details.detail-view.fade(ng-hide='offline', if-view='person', person-id="{{viewData}}")
