doctype
html
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
        meta(name='theme-color', content='#FFC026')

        meta(name='apple-mobile-web-app-capable', content='yes')
        meta(name='mobile-web-app-capable', content='yes')

        link(rel='icon', type='image/png', href='images/icon.png')
        link(rel='stylesheet', href='stylesheets/style.css')
        script(src='cordova.js')
        script(src='scripts/idangerous.swiper.min.js')
        script(src='scripts/snap.min.js')
        script(src='scripts/angular.min.js')
        script(src='scripts/angular-animate.min.js')
        script(src='scripts/app.js')
        title Cinexplore
    body(back-button, offline)
        include templates/header
        menu.menu
        div(snap, ng-cloak)
            close-menu
            main
                include templates/offline
                movie-list.movie-list.fade(ng-hide='offline', show-if-view='list',
                            ml-category="{{viewData.category}}",
                            ml-genre="{{viewData.genre.id}}",
                            ml-genre-name="{{viewData.genre.name}}")
                include templates/about
                include templates/search
        movie-details.detail-view.fade(data-snap-ignore='true', ng-hide='offline', if-view='movie', movie-id="{{viewData.id}}", movie-basic-data='{{viewData}}', dominant-color dc-image-url='{{ movie.backdrop_path | imagePath:"92" }}', dc-var='dominantColor')
        person-details.detail-view.fade(data-snap-ignore='true', ng-hide='offline', if-view='person', person-id="{{viewData.id}}")
