doctype
html
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=no')
        link(rel='stylesheet', href='stylesheets/style.css')
        script(src='scripts/idangerous.swiper.min.js')
        script(src='scripts/snap.min.js')
        script(src='scripts/angular.min.js')
        script(src='scripts/angular-route.min.js')
        script(src='scripts/app.js')
        title Cinexplore
    body(ng-app='Cinexplore')
        menu
        div(snap)
            include templates/header
            main
                movie-list(ng-if="!$root.movieId")
                movie-details(ng-if="$root.movieId", movie-id="{{$root.movieId}}")
        include templates/search