.detail-view
    position fixed
    top 0
    left 0
    width 100%
    height 100%
    background black
    overflow auto
    z-index 5
    

.detail-header
    position relative
    text-align center
    height 100%

    &--trailer

        .detail-header__infos
            transform translateY(-10px)
            opacity 0
            
        .detail-header__icons
            transform translateY(20px)
            opacity 0

        .detail-header__image
            filter saturate(0)
            opacity 0

    &__image
        width 100%
        height 100%
        opacity .35
        background-position center
        background-size cover
        transition opacity 1s ease-out, filter .4s ease-out
        
        &--large
            position absolute
            top 0
            right 0
            left 0
            bottom 0
            
    &__infos
        position absolute
        top 30%
        left 0
        right 0
        margin auto
        width 960px
        color color-lightest
        transition all .2s ease-out
        
    &__headline
        font-size 40px
        font-family 'Montserrat', sans-serif
        position: relative
        text-transform uppercase
        letter-spacing 10px
        text-shadow rgba(0,0,0,.5) 0 2 4px

        &:after
            position: absolute
            bottom -35px
            left 0
            right 0
            margin auto
            content ''
            width 140px
            height 1px
            background white
            opacity .3

    &__date
        opacity .2

    &__tagline
        margin-top 80px
        font-family 'Roboto', sans-serif
        font-style italic
        font-weight 100
        font-size 18px
    
    &__icons
        position absolute
        left 0
        right 0
        bottom 30px
        text-align center
        font-size 10px
        transition all .3s ease-out
        
        li
            display inline-block
            text-align center
            width 90px

        button
            color white
            opacity .7
            transition opacity .1s ease-out
            
            &:hover
                opacity 1
                
                svg
                    transform scale(1.2)
        
        svg
            max-height 25px
            max-width 35px
            fill white
            margin-bottom 10px
            transition transform .1s ease-out
            
.gallery
    height 100%
    position relative
    
    &__control
        position: absolute
        transform translateY(-50%)
        top 50%
        width 120px
        height @width
        border-radius 50%
        background-color black
        opacity .3
        z-index 2 // idangrous sets z-index to 1
        transition opacity .3s
        
        &:hover
            opacity .5

        &--next
            right 30px

        &--prev
            left 30px