.detail-view
    position fixed
    top 0
    left 0
    width 100%
    height 100%
    background black
    overflow auto
    z-index 5

.detail-header
    position relative
    text-align center
    height 100%

    &--trailer

        .detail-header__infos
            transform translateY(-10px)
            opacity 0

        .detail-header__icons
            transform translateY(20px)
            opacity 0

        .detail-header__image
            filter saturate(0)
            opacity 0

    &__image
        width 100%
        height 100%
        background-position center
        background-size cover
        transition opacity 1s linear, filter .4s ease-out

        &--hi-res, &--blurred
            position absolute
            top 0
            right 0
            left 0
            bottom 0
            transition all 1.5s

        &--blurred
            filter: blur(20px)

    &__infos
        position absolute
        top 30%
        left 0
        right 0
        margin auto
        width 960px
        color color-lightest
        opacity 0
        
    &__headline
        font-size 40px
        font-family 'Montserrat', sans-serif
        position: relative
        text-transform uppercase
        letter-spacing 10px
        text-shadow rgba(0,0,0,.5) 0 2 4px

        &:after
            position: absolute
            bottom -35px
            left 0
            right 0
            margin auto
            content ''
            width 140px
            height 1px
            background white
            opacity 0
            transition opacity .1s
            
        .animation-sequence-home &:after
            opacity .3

    &__date
        opacity .2

    &__tagline
        margin-top 80px
        font-family 'Roboto', sans-serif
        font-style italic
        font-weight 100
        font-size 18px
    
    &__icons
        position absolute
        left 0
        right 0
        bottom 30px
        text-align center
        font-size 10px
        transition all .3s ease-out
        
        li
            display inline-block
            text-align center
            width 90px

        button
            color white
            opacity .7
            transition opacity .1s ease-out
            
            &:hover
                opacity 1
                
                svg
                    transform scale(1.2)
        
        svg
            max-height 25px
            max-width 35px
            fill white
            margin-bottom 10px
            transition transform .1s ease-out


// opacity settings at different sections
.detail-header__image--low-res,
.detail-header__image--hi-res
    opacity .23

    .animation-sequence-home &
        opacity .35

    .animation-sequence-gallery &
        opacity 0

.detail-header__image--blurred
    opacity 0

    .animation-sequence-gallery &
        opacity .23

// opacity settings depending on image quality
.detail-header:not(.hi-res-loaded) .detail-header__image--hi-res,
.hi-res-loaded .detail-header__image--low-res
    opacity 0

