.header, .header-background
    position fixed
    left 0
    right 0
    height height-header
    
.header
    z-index 10

    &--opaque
        background none
        background-image color-header-opaque

    .header__logo, .header__logo-circle
        position absolute
        left 0
        top 0

    .header__logo
        fill color-lightest
        width 19px
        height 14px
        top 22px
        left 10px
        
    .header__logo-circle
        fill none
        width 36px
        height @width
        top 12px
        
    .open-search
        position absolute
        top 0
        right 0
        width height-header
        height @width
        padding 18px
        
        svg
            width 24px
            height @width
            fill color-lightest

    ul
        margin-left 68px
        font-family 'Montserrat'
        text-transform uppercase
        color color-lightest
        font-size 15px

        li
            display inline-block
            padding 0 18px
            line-height height-header

.header-background
    background-color color-primary
    z-index 1