@require '../common'
@require 'variables'
@require 'basic'

@require 'main-loading'
@require 'header'
@require 'overlays'
@require 'search'
@require 'movie-list'
@require 'detail-view'
@require 'trailer'
@require 'swiper'
@require 'specs'
@require 'plot'
@require 'gallery'
@require 'vertical-nav'