.movie-list
    font-size 0              // prevent spaces from breaking layout
    text-align center

    li
        width 500px
        display inline-block
        padding 25px

.movie-list-item
    position relative
    background-color color-lightest
    box-shadow 0px 1px 3px 0px rgba(0,0,0,0.25)
    border-radius 3px
    padding 2px
    
    &__image-container
        position relative
        height 340px
        
    &__image
        height 100%
        
    &__shade
        position absolute
        top 0
        right 0
        bottom 0
        left 0
        background color-shade
        opacity 0

    &__image
        background-size cover
        background-position center
        height 100%
        opacity 0
        transition opacity .5s

    &--loaded
        
        .movie-list-item__image
            opacity 1

        .movie-list-item__shade
            opacity 1
    
    h1
        text-align center
        font-family 'Montserrat', sans-serif
        text-transform uppercase
        font-size 15px
        line-height 40px
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        padding: 0 20px;