.overlay
    z-index 100

    &__close
        position absolute
        top 0
        right 0
        box-sizing content-box
        padding 16px
        width 16px
        height @width
        fill color-lightest
        z-index 1


.container
    transition all .3s

.overlay-open .container
    filter blur(10px)
    transition all .1s
