.overlay
    background-color color-primary
    
    &__close
        position absolute
        top 0
        right 0
        box-sizing content-box
        padding 16px
        width 16px
        height @width
        fill color-lightest
        z-index 1