.plot
  display: none
  position: absolute
  top: 0
  right: 0
  left: 0
  bottom: 0

  .animation-sequence-plot &
    display block

  &__text
    position: absolute
    top: 48%
    left: 0
    right: 0
    bottom: 0
    margin: auto
    width: 700px
    font-size: 18px
    color: white