.search
    padding 20px 40px
    
    input
        background none
        border none
        outline none
        font-size 90px
        text-transform uppercase
        font-family 'Montserrat'
        -webkit-appearance textfield
        color color-lightest
        
        &::-webkit-input-placeholder
           color #2E434C

        &:-moz-placeholder
           color #2E434C  

        &::-moz-placeholder
           color #2E434C  

        &:-ms-input-placeholder
           color #2E434C  
