.swiper-container
    display block
    height 100%
    width 100%

.swiper-wrapper
    will-change transform

.swiper-wrapper,
.swiper-slide
    height 100%
    width 100%
    
.image-swiper
    .swiper-slide
        background-position center
        background-repeat no-repeat
        background-size cover