height-header = 60px

color-light = #BBBBBB
color-header-opaque = linear-gradient(to bottom, rgba(0,0,0,0.75) 0%,rgba(0,0,0,0) 100%)

color-shade-dark = linear-gradient(to bottom,rgba(0,0,0,0.6) 0,rgba(0,0,0,0.7) 100%)