.vertical-nav
    position absolute
    top 50%
    transform translateY(-50%)
    right 0
    
    li
        overflow hidden
        width 200px
        cursor: pointer
        
        &:hover
            .vertical-nav__dot
                width 7px
                height @width
                margin 7px
                margin-right 24px

            .vertical-nav__label
                opacity 1
                background rgba(white, .23)

    &__label
        position absolute
        right 40px
        padding 4px 6px
        border-radius 2px
        color white
        background rgba(white, 0)
        font-size 12px
        font-family 'Roboto', sans-serif
        opacity .23
        transition background .2s, opacity .2s

        .vertical-nav__active &
            opacity 1

    &__dot
        margin 8px
        margin-right: 25px
        width 5px
        float: right
        height @width
        opacity .3
        border-radius 50%
        background white
        
        .vertical-nav__active &
            opacity 1