.teaser.teaser--large(style='background-image: url({{ movie.backdrop_path | imagePath:"780" }})', ng-if='!trailerPlaying')
    .teaser__slideshow(ng-if='loaded')
        swiper.swiper-container(data-snap-ignore='true', s-options='{loop: true}')
            .swiper-wrapper
                .swiper-slide(ng-repeat='image in movie.images.backdrops')
                    .teaser__slideshow__item(style='background-image: url({{image.file_path | imagePath:"780"}})')
    .teaser__shade
    .teaser__content
        h1.teaser__title {{movie.title}}
    button.detail-view__close(close-detail, ripple): svg: use(xlink:href='{{icons + "#close"}}')
.trailer(ng-if='movie.videos.results.length && trailerPlaying')
    iframe(ng-src='{{ movie.videos.results[0].key | youtubeUrl }}')

tabs.tabs.js-movie-tabs(ng-show='loaded')
    .tabs__indicator(style='background-color: {{dominantColor}}')
    .tabs__container
        .tabs__tab(ripple) Info
        .tabs__tab(ripple) Images
        .tabs__tab(ripple) Cast
        .tabs__tab(ripple) Similar

.movie-details__content.detail-container
    loading.empty-screen.empty-screen--loading(ng-if='loading') movie
    swiper.tabs-swiper.swiper-container.swiper-container--tabs(data-snap-ignore="true", s-tabs='.js-movie-tabs', s-var='swiper')
        .swiper-wrapper
            .swiper-slide.movie-details__tab--info
                ul.list.list--spaced.list--bottom-spaced(ng-if='loaded')
                    li(ng-if='movie.tagline')
                        .list__icon
                            svg(style='fill: {{dominantColor}}'): use(xlink:href='{{icons + "#quote"}}')
                            .list__text
                                span.list__main-line Tagline
                                sub.list__sub-line {{movie.tagline}}
                    li(ng-if='movie.genres')
                        .list__icon
                            svg(style='fill: {{dominantColor}}'): use(xlink:href='{{icons + "#tags"}}')
                            .list__text
                                span.list__main-line Genres
                                sub.list__sub-line
                                    span(ng-repeat='genre in movie.genres', ng-if='$index < movie.genres.length - 1') {{genre.name}}, 
                                    span(ng-repeat='genre in movie.genres', ng-if='$index == movie.genres.length - 1') {{genre.name}}
                    li(ng-if='movie.release_date')
                        .list__icon
                            svg(style='fill: {{dominantColor}}'): use(xlink:href='{{icons + "#calendar"}}')
                            .list__text
                                span.list__main-line Release Date
                                sub.list__sub-line {{movie.release_date | date:'d MMMM yyyy'}}
                    li(ng-if='movie.vote_average')
                        .list__icon
                            svg(style='fill: {{dominantColor}}'): use(xlink:href='{{icons + "#star"}}')
                            .list__text
                                span.list__main-line Rating
                                sub.list__sub-line {{movie.vote_average}} / 10
                    li(ng-if='movie.overview')
                        .list__icon
                            svg(style='fill: {{dominantColor}}'): use(xlink:href='{{icons + "#document"}}')
                            .list__text
                                span.list__main-line Synopsis
                                sub.list__sub-line {{movie.overview}}
                    li(ng-if='movie.homepage')
                        .list__icon
                            svg(style='fill: {{dominantColor}}'): use(xlink:href='{{icons + "#world"}}')
                            .list__text
                                span.list__main-line Website
                                sub.list__sub-line {{movie.homepage}}

                .no-data(ng-if='!movie.poster_path && !movie.tagline && !movie.overview') No data available.

            .swiper-slide.movie-details__tab--images
                ul.grid.grid--image.grid--bottom-spaced
                    li.grid__item(ng-repeat="image in movie.images.all", open-overlay='movie-images', oo-data='{slide: {{$index}}}')
                        .grid__image(style='background-image: url({{image.file_path | imagePath:"780"}})', show-on-image-loaded='{{image.file_path | imagePath:"780"}}')
                .no-data(ng-if='!movie.images.all') No data available.

            .swiper-slide.movie-details__tab--cast
                ul.list.list--dividers.list--ellipsis
                    li(ng-repeat="person in movie.credits.cast", navigate='/person/{{person.id}}', n-data='{{person}}', ripple)
                        .list__thumbnail(style='background-image: url({{person.profile_path | imagePath:"185"}})', show-on-image-loaded='{{person.profile_path | imagePath:"185"}}')
                        .list__text
                            span.list__main-line {{person.name}}
                            sub.list__sub-line {{person.character}}
                .no-data(ng-if='!movie.credits.cast.length') No data available.

            .swiper-slide.movie-details__tab--similar
                .grid.grid--cover.grid--bottom-spaced
                    .grid__tile(ng-repeat="similar in movie.similar.results", navigate='/movie/{{similar.id}}', n-data='{{ {movie: similar, color: "#" + backdropColors[$index]} }}')
                        .grid__item
                            .grid__image(afkl-lazy-image='{{similar.poster_path | imagePath:"500"}}', afkl-lazy-image-options='{"background": true}', show-on-image-loaded='{{similar.poster_path | imagePath:"500"}}')
                            h1(style='background-color: {{"#" + coverColors[$index]}};') {{similar.title}}
                .no-data(ng-if='!movie.similar.results.length') No data available.
    button.toggle-trailer(ng-class="{'toggle-trailer--playing': trailerPlaying}", style='background-color: {{dominantColor}}', ng-if='movie.videos.results.length', ng-click="toggleTrailer()", ripple)
        svg.icon-play: use(xlink:href='{{icons + "#play"}}')
        svg.icon-stop: use(xlink:href='{{icons + "#close"}}')

    overlay.overlay(overlay-name='movie-images', data-snap-ignore="true")
        .image-swiper(ng-if="overlay.visible")
            swiper.swiper-container.swiper-container--images(data-snap-ignore="true", s-options="{initialSlide: {{overlay.data.slide}}}")
                .swiper-wrapper
                    .swiper-slide(ng-repeat='image in movie.images.all')
                        .image-swiper__image(style="background-image: url({{image.file_path | imagePath:'780'}})")
