.grid
    padding gutter-small-width
    margin-left - gutter-small-width

    &--bottom-spaced
        padding-bottom 84px
        

.grid--image

    & .grid__item
        display inline-block
        width 50%
        
        @media mq-tablet
            width 33.33333%

    & .grid__image
        margin-left gutter-small-width
        padding-bottom 100%
        background-size cover
        

.grid--cover
    line-height 0

    & .grid__tile
        padding-left gutter-small-width
        display inline-block
        width 50%
        margin-bottom gutter-small-width
        
        @media mq-tablet
            width 25%

    & .grid__item
        position relative
        height 100%
        width 100%
        box-sizing border-box
        vertical-align top
        background-color color-tile-default

    & .grid__image
        height 100%
        padding-bottom 125%
        background-size cover

    h1
        position absolute
        left 0
        right 0
        bottom 0
        padding 0 gutter-width
        font-size 16px
        line-height 48px
        font-weight normal
        text-overflow ellipsis
        white-space nowrap
        overflow hidden
        color color-lightest
        background-color color-tile-default
        transition transition-ui-color