.image-grid
    margin-left - gutter-width

    .image-grid__item
        display inline-block
        margin-bottom 10px 
        width 33.33333%

    .image-grid__image
        margin-left gutter-width
        padding-bottom 100%
        background-size cover