.image-grid
    padding gutter-small-width
    margin-left - gutter-small-width

    &__item
        display inline-block
        width 50%

    &__image
        margin-left gutter-small-width
        padding-bottom 100%
        background-size cover