.info-card
    img
        float left
        display inline-block
        width 30%

    .text
        float left
        box-sizing border-box
        display inline-block
        padding-left gutter-width
        width 70%

        p
            margin-top 3px
