.thumbnail-list
    li
        display block
        @extend .clearfix

.round-thumbnail
    float left
    margin gutter-width
    display inline-block
    height 40px
    width 40px
    border-radius 50%
    background-size cover
    background-color color-light

.thumbnail-text
    height 72px
    padding gutter-width
    padding-left 0
    float left
    display inline-block
    width calc(100% - 72px) // To fit thumbnail
    border-bottom 1px solid color-list-divider

    strong
        display block
        color color-font-dark
        line-height 19px
        white-space nowrap
        font-weight normal
        overflow hidden
        font-size 16px
        text-overflow ellipsis

    sub
        display inline-block
        width 100%
        font-size font-size
        line-height 16px
        font-size 14px
        margin-top 5px
        white-space nowrap
        overflow hidden
        text-overflow ellipsis