ul.genres-list
    li(ng-repeat="genre in genres")
        a(href="", ng-click="navigation.toGenre(genre.id)")
            div.gr-icon(ng-init="svglink = 'icons/svgstore.svg#icon-' + genre.id")
                svg // TODO: Slide icons only when menu opens. (invisible class)
                    use(xlink:href="{{svglink}}")
            div.gr-name {{genre.name}}