ul.menu__list
    li
        span.menu__item(navigate='list', n-data='{category: "popular"}', n-clear-history='true', close-menu)
            .menu__label Popular
    li
        span.menu__item(navigate='list', n-data='{category: "upcoming"}', n-clear-history='true', close-menu)
            .menu__label Upcoming
ul.menu__list
    li(ng-repeat="genre in genres", ng-if='!genresCollapsed')
        span.menu__item(navigate='list', n-data='{genre: {id: {{genre.id}}, name: "{{genre.name}}" }}', close-menu)
            .menu__icon(ng-init="svglink = 'icons/svgstore.svg#icon-' + genre.id")
                svg: use(xlink:href="{{svglink}}")
            .menu__label {{genre.name}}

ul.menu__list
    li: span.menu__item(navigate='about', close-menu)
        .menu__label About