.movie-list__heading Popular movies
div.movie-list__wrapper
    ul
        li(ng-repeat='movie in movies', style='background-image: url({{ movie.backdrop_path | imagePath:"780" }})')
            .movie__info
                h1.movie__title {{movie.title}}
                span.movie__rating {{movie.vote_average}} / 10