div(snap-ignore="true")
    tabs
        ul
            li Info
            li Similar
            li Cast
            li Images

    .movie-details__content
        swiper.swiper-container
            .swiper-wrapper
                .swiper-slide one
                .swiper-slide two
                .swiper-slide three
                .swiper-slide four