button.toggle-trailer(ng-class="{'toggle-trailer--playing': playing}", ng-if='movie.videos.results.length', ng-click="toggleTrailer()") Trailer

.teaser(style='background-image: url({{ movie.backdrop_path | imagePath:"780" }})', ng-if='!trailerVisible')
    .teaser__content
        h1.teaser__title {{movie.title}}
        span.rating.rating--teaser {{movie.vote_average}} / 10
.trailer(ng-if='movie.videos.results.length && trailerVisible')
    iframe(allowfullscreen='1', ng-src='{{ movie.videos.results[0].key | youtubeUrl }}')

tabs.js-movie-tabs
    .tabs__indicator
    .tabs__container
        .tabs__tab Info
        .tabs__tab Similar
        .tabs__tab Cast
        .tabs__tab Images

.movie-details__content.detail-container
    loading.empty-screen.empty-screen--loading(ng-if='loading') movie
    swiper.tabs-swiper.swiper-container(data-snap-ignore="true", s-tabs='.js-movie-tabs')
        .swiper-wrapper
            .swiper-slide.movie-details__tab--info
                .info-card
                    img(ng-src="{{movie.poster_path | imagePath:'500'}}")
                    .text
                        span(ng-if='movie.tagline')
                            h1 Tagline
                            p {{movie.tagline}}
                        span(ng-if='movie.overview')
                            h1 Overview
                            p {{movie.overview}}
                .no-data(ng-if='!movie.poster_path && !movie.tagline && !movie.overview') No data available.

            .swiper-slide.movie-details__tab--similar
                .cover-grid
                    .cover-grid__item(ng-repeat="similar in movie.similar.results", ng-click="navigation.toMovie(similar.id)")
                        .cover-grid__image(style="background-image: url({{similar.poster_path | imagePath:'500'}})")
                        h1 {{similar.title}}
                .no-data(ng-if='!movie.similar.results.length') No data available.

            .swiper-slide.movie-details__tab--cast
                ul.thumbnail-list
                    li.gutter-bottom(ng-repeat="person in movie.credits.cast", ng-click="navigation.toPerson(person.id)")
                        div.round-thumbnail(style="background-image: url({{person.profile_path | imagePath:'185'}})")
                        div.thumbnail-text
                            strong {{person.name}}
                            sub {{person.character}}
                .no-data(ng-if='!movie.credits.cast.length') No data available.

            .swiper-slide.movie-details__tab--images
                ul.image-grid
                    li.image-grid__item(ng-repeat="image in movie.images.backdrops", open-overlay='movie-images', oo-data='{slide: {{$index}}}')
                        .image-grid__image(style="background-image: url({{image.file_path | imagePath:'300'}})")
                .no-data(ng-if='!movie.images.backdrops') No data available.

    overlay(overlay-name='movie-images', data-snap-ignore="true")
        .image-swiper(ng-if="overlay.visible")
            swiper.swiper-container(data-snap-ignore="true", s-options="{initialSlide: {{overlay.data.slide}}}")
                .swiper-wrapper
                    .swiper-slide(ng-repeat='image in movie.images.backdrops')
                        .image-swiper__image(style="background-image: url({{image.file_path | imagePath:'1280'}})")
