button.toggle-trailer(ng-class="{'toggle-trailer--playing': playing}", ng-click="playing=!playing") Trailer

.teaser(style='background-image: url({{ movie.backdrop_path | imagePath:"780" }})', ng-if='!playing')
    .teaser__content(ng-click="$root.movieId = movie.id")
        h1.teaser__title {{movie.title}}
        span.teaser__rating {{movie.vote_average}} / 10
.trailer(ng-if='videos && videos.length && playing')
    iframe(allowfullscreen='1', ng-src='{{ videos[0].key | youtubeUrl }}')

tabs
    ul
        li Info
        li Similar
        li Cast
        li Images

.movie-details__content
    swiper.tabs-swiper.swiper-container(data-snap-ignore="true")
        .swiper-wrapper
            .swiper-slide.movie-details__tab--info
                .info-card
                    img(ng-src="{{movie.poster_path | imagePath:'500'}}")
                    .text
                        h1 Overview
                        p {{movie.overview}}
                        h1 Tagline
                        p {{movie.tagline}}
            .swiper-slide.movie-details__tab--similar
                .movie-details__similar-holder
                    .movie-details__similar(ng-repeat="similar in similarMovies", ng-click="$root.movieId = similar.id")
                        .movie-details__similar__image(style="background-image: url({{similar.poster_path | imagePath:'500'}})")
                        h1 {{similar.title}}
            .swiper-slide.movie-details__tab--cast
                ul.thumbnail-list
                    li.gutter-bottom(ng-repeat="person in cast")
                        div.round-thumbnail(style="background-image: url({{person.profile_path | imagePath:'185'}})")
                        div.thumbnail-text
                            strong {{person.name}}
                            sub {{person.character}}
            .swiper-slide.movie-details__tab--images
                ul.image-grid
                    li.image-grid__item(ng-repeat="image in images", open-overlay='images', oo-data='{slide: {{$index}}}')
                        .image-grid__image(style="background-image: url({{image.file_path | imagePath:'300'}})")

    overlay(overlay-name='images', data-snap-ignore="true")
        .image-swiper(ng-if="overlay.visible")
            swiper.swiper-container(data-snap-ignore="true", s-options="{initialSlide: {{overlay.data.slide}}}")
                .swiper-wrapper
                    .swiper-slide(ng-repeat='image in images')
                        .image-swiper__image(style="background-image: url({{image.file_path | imagePath:'1280'}})")
