.teaser(style='background-image: url({{ person.profile_path | imagePath:"780" }})', ng-if='!playing')
    .teaser__content
        h1.teaser__title {{person.name}}

tabs.js-person-tabs
    .tabs__indicator
    .tabs__container
        .tabs__tab Info
        .tabs__tab Movies
        .tabs__tab Photos
        .tabs__tab Bio

.person-details__content.detail-container
    swiper.tabs-swiper.swiper-container(data-snap-ignore="true", s-tabs='.js-person-tabs')
        .swiper-wrapper
            .swiper-slide.person-details__tab--info
                .info-card
                    img(ng-src="{{person.profile_path | imagePath:'185'}}")
                    .text
                        span(ng-if='person.birthday')
                            h1 Birthday
                            p {{person.birthday | date:'dd.MM.yyyy'}}
                        span(ng-if='person.place_of_birth')
                            h1 Place of birth
                            p {{person.place_of_birth}}

            .swiper-slide.person-details__tab--movies
                .cover-grid
                    .cover-grid__item(ng-repeat="movie in movies", ng-click="navigation.toMovie(movie.id)")
                        .cover-grid__image(style="background-image: url({{movie.poster_path | imagePath:'500'}})")
                        h1 {{movie.title}}

            .swiper-slide.person-details__tab--photos
                ul.image-grid
                    li.image-grid__item(ng-repeat="image in images", open-overlay='person-images', oo-data='{slide: {{$index}}}')
                        .image-grid__image(style="background-image: url({{image.file_path | imagePath:'300'}})")

            .swiper-slide.person-details__tab--bio
                .text
                    h1 Biography
                    p {{person.biography}}

    overlay(overlay-name='person-images', data-snap-ignore="true")
        .image-swiper(ng-if="overlay.visible")
            swiper.swiper-container(data-snap-ignore="true", s-options="{initialSlide: {{overlay.data.slide}}}")
                .swiper-wrapper
                    .swiper-slide(ng-repeat='image in images')
                        .image-swiper__image(style="background-image: url({{image.file_path | imagePath:'1280'}})")
