.about
    padding 0 30px
    
    svg
        fill color-primary
        
    h1
        font-size font-size
        color color-font-dark
        margin-bottom 0

    a
        text-decoration underline
        
    &__logo
        width 100%
        height 50px
        margin 65px 0 10px 0

    &__version
        text-align center
        margin-bottom 65px
        
    &__tmdb-logo
        display block
        margin 65px auto 0 auto
        width 50%