body
    font-family Roboto
    font-size font-size
    color color-font-light
    line-height 16px

tabs
    font-family font-main
    color color-menu-item-font
    font-weight 600
    text-transform uppercase
    text-decoration none