.header
    position fixed
    top 0
    left 0
    width 100%
    background color-primary
    height height-header
    overflow hidden
    z-index 1

    div
        height height-header
        line-height @height
        font-family Roboto
        font-size font-size-header
        color color-lightest
    
    div:active
        background-color darken(color-primary, 7%)

    &__icon
        vertical-align middle

        &--menu
            margin: -2px 22px 0 16px
            width: 19px;
            height: 13px;

        &--search
            float right
            padding 19px
            
            svg
                vertical-align top
                height 18px
                width @height