.tabs
    position relative
    display block
    height height-tabs
    background-color color-tabs-background

    &__tab
        display inline-block
        padding 14px gutter-width
        color color-font-dark
        line-height 20px

    &__indicator
        position absolute
        top 0
        height 3px
        width 50px
        background-color color-primary
        will-change transform, width

        &--transitioning
            transition all .25s ease-out
            
    .ripple__ink
        background darken(color-tabs-background, 30%)