.teaser
    position relative
    background black
    height height-teaser

    &--large
        height height-teaser-expanded

        @media mq-restricted-height
            height height-header

            .teaser__title
                top 0
                left 57px
                line-height @height
                font-family Roboto
                font-size font-size-header

        @media mq-tablet-portrait
            height 360px

    &__image
        position absolute
        top 0
        right 0
        left 0
        bottom 0
    
    &, &__image
        background-size cover
        background-position 0 20%

    &__slideshow
        position absolute
        width 100%
        height 100%

        .swiper-wrapper
            width 100%

        &__item
            height 100%
            background-size cover
            background-position 0 20%

    &__content
        position absolute
        width 100%
        height 100%
        padding 5px gutter-width
        overflow auto
        z-index 2
        pointer-events none
        
    &__image-container
        position absolute
        width 100%
        height 100%

    &__shade
        position absolute
        width 100%
        height 100%
        background color-shade
        pointer-events none
        z-index 1

    &__chevron
        position absolute
        width 8px
        height 12px
        right gutter-width
        bottom gutter-width * 1.5
        fill color-lightest

    &__title
        position absolute
        bottom gutter-width
        left gutter-width
        right @left
        margin 0
        font-family font-main
        font-weight normal
        font-size 24px
        line-height 32px
        color color-lightest
        

    &--list-item
        
        .teaser__title
            right 40px
            font-size 16px
            line-height 28px