loading.empty-screen.empty-screen--loading(ng-if="loading") movies
.movie-list__wrapper
    ul
        li(ng-repeat='movie in movies track by movie.id')
            .movie-list-item(navigate='/movie/{{movie.id}}' n-data='{{ {movie: movie, color: "#"+colors[$index]} }}')
                .movie-list-item__image-container
                    .movie-list-item__image(style='background-image: url({{ movie.backdrop_path | imagePath:"780" }})')
                    .movie-list-item__shade
                h1 {{movie.title}}