.about(if-view='about')
    svg.about__logo
        use(xlink:href='icons/svgstore.svg#icon-logo')
    .about__version Cinexplore 1.0.0
    .about__credits
        h1 Development & Design
        div Ferdinand Torggler
        h1 Icons
        div
            | Made by Freepik from&nbsp;
            a(href='http://www.flaticon.com', title='Flaticon') www.flaticon.com
            | , licensed by&nbsp;
            a(href='http://creativecommons.org/licenses/by/3.0/', title='Creative Commons BY 3.0') CC BY 3.0

        img.about__tmdb-logo(src='images/tmdb.png')