header.app-header
    span(open-menu)
        svg.menu: use(xlink:href='icons/svgstore.svg#icon-menu')
        svg.logo: use(xlink:href='icons/svgstore.svg#icon-logo')
        | Cinexplore
    svg.search(open-overlay='search', ng-hide='offline')
        use(xlink:href='icons/svgstore.svg#icon-zoom')