.detail-container
    // 260 = movie header
    // 46 = tab bar
    // 48 = top bar
    height calc(100vh - 260px - 48px)
    overflow auto

    @media mq-restricted-height
        height calc(100vh - 56px - 48px)

    @media mq-tablet-portrait
        height calc(100vh - 360px - 48px)

    h1
        font-family font-main
        font-size font-size
        margin 0