.fade
    transition all .2s linear
    will-change opacity
    
    &.ng-enter
        opacity 0
        
    &.ng-enter-active
        opacity 1
        
    &.ng-leave
        opacity 1
        
    &.ng-leave-active
        opacity 0
        

    &.ng-hide-remove
        opacity 0
        
    &.ng-hide-remove-active
        opacity 1
        
    &.ng-hide-add
        opacity 1
        
    &.ng-hide-add-active
        opacity 0