html, body
    margin 0
    padding 0
    height 100%
    width 100%
    box-sizing border-box
    overflow auto

main
    margin 0
    padding 0
    width 100%
    height calc(100% - 48px)
    overflow auto

[snap]
    position absolute
    top 0
    left 0
    width 100%
    height 100%

ul
    list-style-type none
    margin 0
    padding 0

*
    box-sizing inherit