movie-details
    
    .movie-details__close
        position absolute
        padding 16px
        top 0
        left 0
        background none
        
        svg
            width 16px
            height 16px
            fill color-lightest