//
// THUMBNAILS
//

.thumbnail-list
    li
        display block
        @extend .clearfix

.round-thumbnail
    float left
    display inline-block
    height 58px
    width 58px
    border-radius 50%
    background-size cover
    background-color color-light
    box-shadow 0 1px 2px rgba(black, .5)

.thumbnail-text
    float left
    display inline-block
    margin-top 12px
    margin-left gutter-width
    max-width calc(100% - 68px) // To fit thumbnail

    strong
        display block
        color color-font-dark
        line-height 15px
        white-space nowrap
        overflow hidden
        text-overflow ellipsis

    sub
        display inline-block
        width 100%
        font-size font-size
        line-height 17px
        white-space nowrap
        overflow hidden
        text-overflow ellipsis

//
// IMAGE GRID
//

.image-grid
    margin-left - gutter-width

    .image-grid__item
        display inline-block
        margin-bottom 10px 
        width 33.33333%

    .image-grid__image
        margin-left gutter-width
        padding-bottom 100%
        background-size cover


//
// INFO CARD
//

.info-card
    img
        float left
        display inline-block
        width 30%

    .text
        float left
        box-sizing border-box
        display inline-block
        padding-left gutter-width
        width 70%

        p
            margin-top 3px


//
// TABS SWIPER
//

.tabs-swiper > .swiper-wrapper > .swiper-slide
    box-sizing border-box
    padding gutter-width
    overflow auto


//
// COVER GRID
//

.cover-grid
    margin-left - gutter-width

    .cover-grid__item
        position relative
        box-sizing border-box
        display inline-block
        vertical-align top
        margin-bottom gutter-width
        padding-left gutter-width
        width 33.333333%

    .cover-grid__image
        height 100%
        padding-bottom 150%
        background-size cover

    h1
        position absolute
        left 0
        right 0
        bottom 0
        padding-left 15px
        line-height 25px
        background-color rgba(white, .9)
        text-overflow ellipsis
        white-space nowrap
        overflow hidden


//
// DETAIL CONTAINER
//

.detail-container
    // 205 = movie header
    // 46 = tab bar
    // 48 = top bar
    height calc(100vh - 205px - 46px - 48px)
    overflow auto

    h1
        font-family Montserrat
        color color-font-dark
        font-size font-size
        margin 0