body
    font-family ArialMT
    font-size 13px
    color color-font-light
    line-height 16px

@font-face
  font-family 'Montserrat'
  font-style normal
  font-weight 400
  src local('Montserrat-Regular'), url('/fonts/montserrat.woff2') format('woff2')
  unicode-range U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000

.movie__title
    margin 0
    font-family Montserrat
    font-size 27px
    text-transform uppercase
    color color-font-lightest
    line-height 33px
    text-shadow 1px 1px 4px rgba(0,0,0,0.50)

.movie__rating
    font-family Montserrat
    font-size 18px
    color color-score
    line-height 22px
    text-shadow 1px 1px 4px rgba(0,0,0,0.50)

menu
    font-family Montserrat
    font-size font-size-menu
    color color-menu-item-font
    font-weight 600
    text-transform uppercase
    text-decoration none