body
    font-family ArialMT
    font-size 13px
    color color-font-light
    line-height 16px

.movie__title
    margin 0
    font-family Montserrat-Regular
    font-size 27px
    text-transform uppercase
    color color-font-lightest
    line-height 33px
    text-shadow 1px 1px 4px rgba(0,0,0,0.50)

.movie__rating
    font-family Montserrat-Regular
    font-size 18px
    color color-score
    line-height 22px
    text-shadow 1px 1px 4px rgba(0,0,0,0.50)