.header
    position absolute
    width 100%
    background color-primary
    height height-header
    overflow hidden
    z-index 1
    box-shadow 0 2px 4px rgba(0,0,0,0.58)

    button
        height height-header
        line-height @height
        padding 0
        font-family Roboto
        font-size 20px
        color color-lightest
    
    button:active
        background-color darken(color-primary, 7%)

    span
        padding 0 10px

    &__icon
        fill color-lightest
        vertical-align middle

        &--menu
            margin: 1px 16px 0 16px;
            margin-left: -11px;
            margin-right: 0;
            width: 37px;
            height: 21px;

        &--logo
            margin -8px 0 0 -10px
            width 37px
            height 22px

        &--search
            float right
            
            svg
                padding: 10px 10px 5px 10px;
                height: height-header;
                width @height