header.app-header
    background color-primary
    height height-header

    font-family ArialMT
    font-size 20px
    color color-font-lightest
    line-height 23px

    box-shadow 0 2px 4px rgba(0,0,0,0.58)

    svg
        fill color-font-lightest
        vertical-align middle

    .logo
        margin 12px
        width 37px
        height 28px

    .search
        float right
        margin 15px
        height 26px
        width @height