.header
    position absolute
    top 0
    left 0
    width 100%
    background color-primary
    height height-header
    overflow hidden
    z-index 1
    box-shadow 0 1px 3px rgba(0,0,0,0.48);

    div
        height height-header
        line-height @height
        font-family Roboto
        font-size font-size-header
        color color-lightest
    
    div:active
        background-color darken(color-primary, 7%)

    span
        padding 0 10px

    &__icon
        fill color-lightest
        vertical-align middle

        &--menu
            margin-top -4px
            margin-right: 10px;
            width: 10px;
            height: 12px;

        &--logo
            margin 0
            margin-top -6px
            width 30px
            height 22px

        &--search
            float right
            padding 14px
            
            svg
                vertical-align top
                height 20px
                width @height