@-webkit-keyframes animation-spin-360
    from
        transform rotate(0deg)
    to
        transform rotate(360deg)

loading
    position relative
    display block
    width 100%
    height 100%
    color color-font-light
    text-align center
    overflow auto

    .&__content
        position absolute
        top 40%
        left 0
        right 0

        svg
            display block
            margin 0 auto 15px auto
            width 50px
            height @width
            fill color-loading-indicator
            -webkit-animation animation-spin-360 1.5s infinite
            -webkit-animation-timing-function linear