@require 'variables'
@require 'basic'
@require 'fonts'
@require 'animations'

@require 'components/thumbnail-list'
@require 'components/image-grid'
@require 'components/info-card'
@require 'components/tabs-swiper'
@require 'components/cover-grid'
@require 'components/detail-container'
@require 'components/no-data'
@require 'components/empty-screen'

@require 'header'
@require 'overlays'
@require 'search'
@require 'menu'
@require 'swiper'
@require 'teaser'
@require 'movie-list'
@require 'movie-details'
@require 'tabs'
