.menu
    position fixed
    top 7px
    left 7px
    display block
    margin 0
    padding 5px 0
    bottom 7px
    overflow auto
    background-color color-menu
    box-shadow shadow-menu
    z-index 10

    &__list
        &:not(:last-child):after
            content ''
            display block
            border-bottom 1px solid #ECECEC
            width 230px
            margin 5px 10px

    &__item
        display: flex
        flex-wrap: nowrap
        
    &__label
        flex-grow: 1;
        height height-menu-entry
        line-height height-menu-entry
        color color-menu-item-font
        width 100%
        padding 0 0 0 13px
        
    &__icon + &__label
        padding 0 0 0 3px

    &__icon
        display inline-block
        min-width height-menu-entry
        height height-menu-entry

        svg
            fill color-menu-item-font
            padding 12px
            height height-menu-entry
            min-width @height
            max-width @height
            transition all .3s ease-out
            
    .ripple__ink
        background-color #ddd