movie-list
    h1
        display block

    li
        border-bottom 2px solid color-primary

    .movie-list__heading
        height 30px
        line-height @height
        color color-font-dark
        background color-list-heading-bg