movie-list
    display block
    height 100%
    position relative

    h1
        display block

    .movie-list__item
        border-bottom 2px solid color-primary

    .movie-list__wrapper
        padding-top 30px
        height 100%
        overflow auto

    .movie-list__heading
        position absolute
        top 0
        left 0
        width 100%
        height 30px
        line-height @height
        color color-font-dark
        background color-list-heading-bg