.movie-list
    display block
    height 100%
    position relative

    li
        background color-darkest

    h1
        display block

    &__wrapper
        padding-top 30px
        height 100%
        overflow auto

    &__heading
        position absolute
        top 0
        left 0
        width 100%
        height 30px
        padding-left 10px
        font-weight bold
        line-height @height + 2 // better vertical align
        color color-font-dark
        background color-list-heading-bg
        z-index 10