[ripple]
    overflow hidden

.ripple__ink
    display block
    position absolute
    background #FFFFFF
    opacity .5
    border-radius 100%
    transform scale(0)

    &.animate
        animation ripple 0.65s linear

@keyframes ripple 
    100%
        opacity 0
        transform scale(2.5)