.tabs
    position relative
    display block
    border-bottom solid 2px color-tabs-border
    
    &__tab
        display inline-block
        padding 14px gutter-width
        color color-font-dark

    &__indicator
        position absolute
        bottom -2px
        height 2px
        width 50px
        background-color color-primary
        will-change transform, width

        &--transitioning
            transition all .25s ease-out