.teaser
    background-size cover
    background-position 0 20%

    &__content
        padding 5px gutter-width
        height height-teaser
        overflow auto
        background color-shade

    &__title
        margin 0
        font-family font-main
        font-size 27px
        text-transform uppercase
        color color-lightest
        line-height 33px
        text-shadow 1px 1px 4px rgba(0,0,0,0.50)