.teaser
    background-size cover
    background-position 0 20%

.teaser__content
    padding 5px gutter-width
    height 205px
    overflow auto
    background color-shade

.teaser__title
    margin 0
    font-family Montserrat
    font-size 27px
    text-transform uppercase
    color color-font-lightest
    line-height 33px
    text-shadow 1px 1px 4px rgba(0,0,0,0.50)