.toggle-trailer
    position absolute
    right gutter-width
    bottom gutter-width
    padding 0
    width 56px
    height 56px
    border-radius 50%
    background-color color-primary
    box-shadow trailer-button-shadow
    z-index 1

    svg
        width 11px
        height 14px
        margin 21px
        fill color-lightest

    &:not(.toggle-trailer--playing) svg.icon-stop
        display none

    &--playing svg.icon-play
        display none

.trailer
    height height-teaser

    iframe
        width 100%
        height 100%
        border none
        outline none