.toggle-trailer
    position absolute
    right gutter-width
    top 155px
    width 130px
    height 38px
    background-color color-primary-transparent
    border-radius 5px
    font-family font-main
    color color-lightest
    font-size font-size
    transition all .3s ease-out

    &--playing
        position fixed
        background-color color-lightest
        top 10px
        right 48px
        width 96px
        height 28px
        color color-font-dark
        z-index 2

.trailer
    height height-teaser

    iframe
        width 100%
        height 100%
        border none
        outline none
