color-primary = #FFC026
color-primary-transparent = rgba(#FFC026, .85)
color-font-dark = #4D4D4D
color-light = #D9D9D9
color-font-light = #999999
color-lightest = #FFFFFF
color-score = #E7C94C
color-menu-item = #2C2B30
color-menu-item-border-top = #313136
color-menu-item-border-bottom = #272528
color-menu-item-dark = #161517
color-menu-item-dark-border-top = #1D1D21
color-menu-item-dark-border-bottom = #0F0F10
color-menu-item-font = #BEBEBE
color-list-divider = #E6E6E6
color-primary-button = rgba(12,227,163,0.85)
color-primary-button-font = #F4F4F2
color-shade = linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0.25) 100%)
color-tabs-background = #F6F6F6
color-list-heading-bg = rgba(255,255,255,0.85)
color-overlay-bg = rgba(#F4F4F2, .95)
color-overlay-close = #7F7F7F
color-search-font = color-font-dark
color-empty-screen-icon = #D8D8D8

height-header = 56px
height-teaser = 205px
height-menu-entry = 40px

font-size = 13px
font-size-header = 20px
font-main = Roboto

gutter-width = 16px
gutter-small-width = 4px