color-primary = #0CE4A4
color-primary-transparent = rgba(#0CE4A4, .85)
color-font-dark = #474747
color-font-light = #A9A9A9
color-font-lightest = #FFFFFF
color-score = #E7C94C

color-menu-item = #2C2B30
color-menu-item-border-top = #3C3B41
color-menu-item-border-bottom = #1C1A1D
color-menu-item-dark = #161517
color-menu-item-dark-border-top = #302F34
color-menu-item-dark-border-bottom = #0F0F10
color-menu-item-font = #BEBEBE

color-primary-button = rgba(12,227,163,0.85)
color-primary-button-font = #F4F4F2

color-shade = rgba(0,0,0,0.25)
color-tabs-border = #EDEDED
color-list-heading-bg = rgba(255,255,255,0.85)

color-overlay-bg = rgba(#F4F4F2, .95)
color-overlay-close = #7F7F7F

color-search-font = #B9BAB7

height-header = 48px
height-menu-entry = 40px

font-size = 13px

gutter-width = 10px