.overlay
    transition all .1s ease-out

    &.ng-animate
        display block

    &.overlay-visible
        display block
        
        &-add
            opacity 0
            transform scale(.7)
            
        &-remove
            opacity 1
            transform scale(1)

        &-remove-active
            opacity 0
            transform scale(.7)

        &-add-active
            opacity 1
            transform scale(1)